.dark_container_bg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.650);
    z-index: 999;
}
.custom_toastify{
    border-radius: 16px;
    background: var(--light);
    color: var(--dark);
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 420px;
    z-index: 1000;
    }

.custom_toastify h2 {
    font-weight: 700;
    font-size: 35px;
    margin: 25px 0px;
    text-align: center;
    /* white-space: nowrap; */
}

@media(max-width: 991px){
    .custom_toastify{
        width: 80%;
    }
}
@media(max-width: 591px){
    .custom_toastify h2 {
        font-size: 25px;
    }
    .custom_toastify .main_btn {
        font-size: 20px;
    }
    .custom_toastify img {
        width: 80px;
        height: 110px;
    }
}