*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root{
  --main: #FF3D00;
  --second_main: #ee3b05;
  --dark: #000;
  --light: #fff;
  --medium: #F3F3F3;
  --second_medium: #d9d9d9;
  --toastify-color-success: #FF3D00;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #FF3D00;
}
body{
  margin: 0px;
  font-family: 'Almarai', sans-serif;
  direction: rtl;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a{
  text-decoration: none;
  color: #000000;
}
h1,h2,h3,h4,h5,h6,p {
  margin-bottom: 0px;
}