.static-specifications {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 50px 0px;
    flex-wrap: wrap;
}
.static-specifications div h1 {
    font-weight: 700;
    font-size: 40px;
    color: var(--text);
}
.static-specifications div p {
    font-weight: 700;
    font-size: 28px;
    color: var(--main);
}





/* react datePicker */
.calender_container{
    position: relative;
    width: 250px;
}
.calender_container .main_btn{
    width: 100%;
}
.custom_date_piker{
    background-color: var(--light);
    position: absolute;
    width: 100%;
}

.react-datepicker__header {
    background-color: var(--light);
    border: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.custom_day {
    color: var(--dark);
}
.custom_day:focus {
    background-color: rgba(255, 61, 0, 0.25);
}
.custom_day:hover {
    background-color: rgba(255, 61, 0, 0.25);
}
.react-datepicker__day.react-datepicker__day--selected {
    border: none;
    border-radius: 7px;
    background-color:  rgba(255, 61, 0, 0.25);
    color: var(--dark);
  }




/* start specifications and condintions */
.specifications-conditions {
    display: flex;
    flex-wrap: wrap;
}
.specifications {
    flex: 1;
    padding: 50px 0px 50px 50px;
}
.specifications .title {
    font-weight: 700;
    font-size: 35px;
    color: var(--main);
    margin-bottom: 0px;
}
.specifications .specifications-data {
    margin: 40px 0px; 
}
.specifications .specifications-data div {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.specifications .specifications-data div svg.fa-location-dot {
    font-size: 22px;
}
.specifications .specifications-data div span {
    padding-right: 10px;
    font-size: 22px;
}
/* description */
.specifications .description  {
    background: rgba(237, 237, 237, 0.66);
    color: var(--dark);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 25px 20px;
}
.specifications .description h3 {
    font-weight: 700;
    font-size: 25px;
}
.specifications .description p {
    font-size: 22px;
}



/* insallment calculator container (  حاسبة الاقساط ) */
.install_calculator_container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* start media screen */
@media(max-width: 771px){
    .specifications,
    .conditions {
        min-width: 100%;
        padding: 50px 0px;
        border: none;
    }
    .static-specifications div h1 {
        font-size: 30px;
    }
    .static-specifications div p {
        font-size: 20px;
    }
}
@media(max-width: 771px){
    .install_calculator_container{
        align-items: flex-start;
    }
}
@media(max-width: 481px){
    /* .static-specifications {
        justify-content: center;
    } */
    .static-specifications .react-datepicker-wrapper{
        margin-right: 0px;
        margin-top: 20px;
    }
    .react-datepicker-wrapper .react-datepicker__input-container input{
        background-color: var(--main);
        border-radius: 8px;
        padding: 7px;
        white-space: nowrap;
        color: var(--light);
        text-align: center;
        border: none;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
    }
}
